@font-face {
  font-family: 'Grtsk Giga';
  src: local('Grtsk Giga Regular'), local('Grtsk-Giga-Regular'), url('../fonts/GrtskGiga-Regular.woff2') format('woff2'),
    url('../fonts/GrtskGiga-Regular.woff') format('woff'), url('../fonts/GrtskGiga-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Grtsk Giga';
  src: local('Grtsk Giga Medium'), local('Grtsk-Giga-Medium'), url('../fonts/GrtskGiga-Medium.woff2') format('woff2'),
    url('../fonts/GrtskGiga-Medium.woff') format('woff'), url('../fonts/GrtskGiga-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Grtsk Giga';
  src: local('Grtsk Giga Semibold'), local('Grtsk-Giga-Semibold'),
    url('../fonts/GrtskGiga-Semibold.woff2') format('woff2'), url('../fonts/GrtskGiga-Semibold.woff') format('woff'),
    url('../fonts/GrtskGiga-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
